<div class="card">
    <div class="card-body">
        <h2>Categorias:</h2>
        <hr>
        <ul>
            {{#each categorias}}
            <a href="/categorias/{{slug}}">
                <li>
                    <h5>{{nome}}</h5>
                </li>
            </a>
            {{else}}

            {{/each}}

        </ul>
    </div>
</div>